body {

    margin: 0px;
    padding: 0px;
}


.bg-img {

    background-image: url(../Assests/image\ \(2\).png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    padding: 0px;
}

.nav-link {

    margin-left: 20px;
    text-transform: uppercase;
}

.line {

    width: 150px;
    height: 5px;
    background-color: black;
}


.shape {

    /* position: relative; */
    height: 400px;
    background-color: rgb(141, 49, 49);
    clip-path: polygon(100% 5%, 100% 100%, 0 100%, 0 28%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* Ensure content does not spill outside */
}

.h22 {

    font-size: 54px;
    font-weight: 600;
    margin-top: 20px;
}

.txt {
    width: 600px;
    color: white;
    text-align: center;
    padding: 27px;
    margin-top: 45px;

}


.button {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(141, 49, 49);
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px rgb(141, 49, 49);
  }
  
  .glow-button:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(209, 91, 91);
  }



  .buttons {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: rgb(104, 144, 255);
    padding: 15px 30px;
    border-radius: 4px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 5px 15px rgb(104, 144, 255);
    margin-top: 20px;
  }
  
  .glow-buttons:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgb(82, 115, 207);
  }

.icon_div {

    width: 200px;
    height: 200px;
    background-color: rgb(141, 49, 49);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.img_icon {

    width: 100px;
    height: 100px;
    margin: 50px;
}

.footer {

    height: 400px;
    background-color: rgb(141, 49, 49);
    clip-path: polygon(100% 5%, 100% 100%, 0 100%, 0 28%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.btnnn {

    background-color: rgb(0, 63, 238);
    color: white;
    border-radius: none;
}

.nav-link {

    color: #fff;
    font-size: 16px;
    font-weight: 600;
}


.very_good{


    width: 35rem;
}


.book_img{

      margin-left: 10px;
}

.book {
    width: 49%;
    height: 460px;
    margin-left: 200px;
}



.hero-image {

    top: 0;
    left: 0;
    width: 49%;
    height: 460px;
    margin-left: 200px;
    animation: upDown 3s infinite ease-in-out;
}

@keyframes upDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Adjust the value as needed */
    }
}

.res_div{


    display: flex !important;
    margin-top: 18rem;
}



@media only screen and (max-width: 600px) {

    .bg-img{


         height: auto;
    }
    .h22 {

        font-size: 22px;
        font-weight: 700;
    }

    .card-text:last-child {
        margin-bottom: -104px;
    }

    .res_div{

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          margin-top: 1rem;
          
    }
    .icon_div{

           margin-top: 50px;
    }


    .very_good{


          width: 300px;
    }

    .book_img{

          margin-left: 10px;
    }

    .book{

        width: 85%;
        margin-left: 26px;
    }

    .hero-image{
        top: 0;
        left: 0;
        width: 66%;
        height: 338px;
        margin-left: 59px;
        animation: upDown 3s infinite ease-in-out;

    }
}